/weights/Resnet50_Final.pth
*.pth
.idea
*.npy
*.pb
*.params
*.json
*.pyc
.env
logs/
*.csv
validation/widerface_*
save-checkpoints
*.so
*.c
*.jpg
*.png
widerface_evaluate/build/
*.log
*.yml
DEPRECATED/training